<center> <h1>Assignment 1</h1> </center>

The following code loads the nba dataset (nba.csv) from an online repository into a dataframe named "nba".

The columns are organized as "Name",	"Team",	"Number",	"Position",	"Age",	"Height",	"Weight",	"College",	"Salary". Use this dataset to answer the questions below. You can create as many cells as you desire for all solutions.

In [219]:
import pandas as pd
nba = pd.read_csv("https://media.geeksforgeeks.org/wp-content/uploads/nba.csv") 
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

### Question 1 (2 point): 
Create a new dataframe named "nba_new" by adding a new column named "College Degree" right before the column "College". Fill the rows of this column with "True" if there is a college name entry under the column "College" for the associated row. Make sure the new column named "College Degree" is located right before the column "College".<br/>

### Solution 1:

In [220]:
#Work on your solution here and after. 
nba_new = nba.copy()
#college_degree = 
#nba_new.insert(7, 'College Degree', '') too complicated to do?
college_degree = nba_new['College'].notna() 
nba_new.insert(7, 'College Degree', college_degree)
#nba_new['College Degree'] = nba_new['College'].notna() 
#code above creates the column with the correct values now need to reorder?

#full explanation: 
#need to create a list/column of values that reflect T/F if the nba player has 
#a degree (creation of variable college_degree)
#.notna creates a series of boolean data types
#then need to insert the column in the right location using .insert()

### Question 2 (1 point):
Report the first 5 rows of nba_new dataframe.<br/>

### Solution 2:

In [221]:
#Work on your solution here and after. 
nba_new.head()
#reports the top values

,Name,Team,Number,Position,Age,Height,Weight,College Degree,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,True,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,True,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,True,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,True,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,False,NaN,5000000.0

### Question 3 (1 point):
Make sure the new column is of data type boolean and report it is actually boolean.<br/>

### Solution 3:

In [222]:
#Work on your solution here and after.
#print(college_degree.dtype) #one way to show boolean values
print(nba_new['College Degree'].dtype) #other way to show values are boolean

bool

### Question 4 (1 point):
Create a list that holds the names of the players who do not have any college degree (or no university name entry given under "College" column in the data set). Report only the number of those players.<br/>

### Solution 4:

In [223]:
#Work on your solution here and after. 
no_college_degreelt = nba[nba['College'].isna()]
#goes through column in 'Column' and looks for boolean values
player_names = no_college_degreelt['Name'].tolist() #creates list
count = len(player_names)
#gives the length of the variable player_names and stores that value as count
print("Number of players:", count)

Number of players: 85

### Question 5 (2 point):
Create two dataframes named "no_college_degree" and "with_college_degree". no_college_degree dataframe should include two columns one for names and one for salaries of those players who do not hold a college degree. Likewise, with_college_degree dataframe should include two columns one for names and one for salaries of those players who hold a college degree. Report the first 5 rows of each dataframe.<br/>

### Solution 5:

In [224]:
#Work on your solution here and after.  
#no_college_degree2 = no_college_degreelt.drop(['Team', 
                   # 'Number', 'Position', 'Age', 
                   #'Height', 'Weight', 'College'], axis = 1) 
#Above is the long method by using the .drop() function in pandas
#print(type(no_college_degreelt))
#print(no_college_degree2)

with_college_degreelt = nba[nba['College'].notna()]
with_college_degree = with_college_degreelt[['Name', 'Salary']]
no_college_degree = no_college_degreelt[['Name', 'Salary']]
print(with_college_degree)
print(no_college_degree)

#Shorter method by assigning select columns 'Name' and 'Salary'

              Name     Salary
0    Avery Bradley  7730337.0
1      Jae Crowder  6796117.0
2     John Holland        NaN
3      R.J. Hunter  1148640.0
6    Jordan Mickey  1170960.0
..             ...        ...
449    Rodney Hood  1348440.0
451  Chris Johnson   981348.0
452     Trey Lyles  2239800.0
453   Shelvin Mack  2433333.0
456    Jeff Withey   947276.0

[373 rows x 2 columns]
                       Name      Salary
4             Jonas Jerebko   5000000.0
5              Amir Johnson  12000000.0
15         Bojan Bogdanovic   3425510.0
20           Sergey Karasev   1599840.0
32   Thanasis Antetokounmpo     30888.0
..                      ...         ...
447             Rudy Gobert   1175880.0
450              Joe Ingles   2050000.0
454               Raul Neto    900000.0
455            Tibor Pleiss   2900000.0
457                     NaN         NaN

[85 rows x 2 columns]

### Question 6 (1 point):
Report the average salary of players with college and no college degrees.<br/>

### Solution 6:

In [225]:
#Work on your solution here and after.
average_salary_withdegree = with_college_degree['Salary'].mean().round(3)
print("Average Salary with a college degree:", average_salary_withdegree)
average_salary_nodegree = no_college_degree['Salary'].mean().round(3)
print("Average Salary with no college degree:", average_salary_nodegree)

Average Salary with a college degree: 4620311.071
Average Salary with no college degree: 5829803.427

### Question 7 (1 point):
Add a new column named "Young" to the existing dataframe. This column should indicate a bool type value of True if the associated player age is less than 30. Otherwise, its value should be False.<br/>

### Solution 7:

In [226]:
#Work on your solution here and after. 

#no_college_degree['Young'] = nba_new['Age'] < 30
#above answer works, but gives an error, trying .loc
#no_college_degree.loc[:, 'Young'] = nba_new['Age'] < 30
#above answer still gives a warning? 
#no_college_degree = no_college_degree.copy()
#no_college_degree.loc[:, 'Young'] = nba_new['Age'] < 30
#need a separate dataframe, can use the .loc function and define 
#print(no_college_degree)
nba_new['Young'] = nba_new['Age'] < 30 
print(nba_new)

#this code works by creating a column named 'Young' that gives a boolean
#value of true is the value is under 30 and false if over 30

              Name            Team  Number Position   Age Height  Weight  \
0    Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1      Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2     John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3      R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4    Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
..             ...             ...     ...      ...   ...    ...     ...
453   Shelvin Mack       Utah Jazz     8.0       PG  26.0    6-3   203.0
454      Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0
455   Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0
456    Jeff Withey       Utah Jazz    24.0        C  26.0    7-0   231.0
457            NaN             NaN     NaN      NaN   NaN    NaN     NaN

     College Degree            College     Salary  Young
0              True              Texas  7730337.0   True
1              True          Marquette  6796117.0   True
2              True  Boston University        NaN   True
3              True      Georgia State  1148640.0   True
4             False                NaN  5000000.0   True
..              ...                ...        ...    ...
453            True             Butler  2433333.0   True
454           False                NaN   900000.0   True
455           False                NaN  2900000.0   True
456            True             Kansas   947276.0   True
457           False                NaN        NaN  False

[458 rows x 11 columns]

### Question 8 (1 point):
By using the dataframe with the new column "Young", report the average salaries of players who are labeled as 'True' under Young column. Also, report the average salaries of players who are labeled as 'False' under Young column.<br/>

### Solution 8:

In [227]:
#Work on your solution here and after. 
average_salary_young = nba_new.loc[nba_new['Young'], 'Salary'].mean()
average_salary_old = nba_new.loc[~nba_new['Young'], 'Salary'].mean()
#average_salary_young = no_college_degree.loc[no_college_degree['Young'], 'Salary'].mean()
#average_salary_old = no_college_degree.loc[~no_college_degree['Young'], 'Salary'].mean()
print("Average Salary for Under 30:", average_salary_young)
print("Average Salary for Over 30:", average_salary_old)

#this code works by creating a variable for both young and old salaries and uses 
#the .loc function by going through the 'Young' column and then if the value is 
#true it takes the value from Salary and adds it to the variable to then take 
#the average at the end using the .mean() function. The 'old' variable works 
#similarly but uses a '~' function to locate the False boolean values

Average Salary for Under 30: 4325732.174311927
Average Salary for Over 30: 6263215.882352941