# Data Types

## Primitive Data Structures (Data Types)



*   **Data type** defines the type of variable
*   Stores a value
*   Python has four variable types: integet, float, string and boolean
*   Python automatically recognizes a variable's data type based on the assigned value.
*   Convention is to use lower_case_with_underscores

## Variables types



*   Integer: numerica data. Integers numbers from negative infinity to infinity.
*   Float: represets the set of real numbers, $\mathbb{R}$. 
*   String: collection of alphanumeric and other type characters.
*   Boolean: logical values, TRUE and FALSE.

### Examples

In [1]:
some_var = 5
print(some_var )
print(type(some_var ))

5
<class 'int'>

In [7]:
some_var  = 12.5
print(some_var )
print(type(some_var ))

12.5
<class 'float'>

In [9]:
some_var  = 'a'
print(some_var )
print(type(some_var ))

a
<class 'str'>

In [12]:
some_var  = False
print(some_var )
print(type(some_var ))

False
<class 'bool'>

In [19]:
some_var  = bool(0)
print(some_var )
print(type(some_var ))

False
<class 'bool'>

## Operators

Basic arithmetic (+, -, *, /) is what you would expect

In [20]:
1 + 1

2

In [21]:
8 - 1

7

In [22]:
10 * 2

20

In [23]:
35 / 5 # The result of division is always a float

7.0

Result of integer division truncated down both for positive and negative

In [24]:
5 // 3

1

In [25]:
-5 // 3

-2

In [26]:
5.0 // 3.0 #works on floats too

1.0

Modulo operation

In [27]:
10 % 3

1

Exponetiation $x^y$

In [28]:
2**4

16

**not** operator

In [29]:
not True

False

In [30]:
not False

True

Comparison operators

In [31]:
1 == 1 # Equality

True

In [32]:
1 != 1 # Not equal

False

In [33]:
1 < 10

True

In [34]:
1 > 10

False

In [35]:
2 <= 2

True

Comparisons can be chained

In [39]:
2 < 3 < 2

False

In [38]:
1 < 2 < 3

True

**and**, **or** operators

In [40]:
0 < 2 and 2 > 1

True

In [41]:
0 > 2 and 2 > 1

False

In [42]:
0 > 2 and 2 < 1

False

In [43]:
0 < 2 or 2 > 1

True

In [44]:
0 < 2 or -2 > 1

True

In [45]:
0 < -2 or -2 > 1

False

Identity and membership operators

In [46]:
a = ['a', 'b', 'c', 'd', 'e']
b = ['d', 'e', 'f']
c = a

In [47]:
a is b

False

In [48]:
a is c

True

In [49]:
a is not b

True

In [50]:
'b' in a

True

In [51]:
'f' in a

False

In [52]:
'b' not in a

False

## Strings

In [53]:
'This ' 'is ' 'a ' 'string' # strings can be added

'This is a string'

In [54]:
'This is a string' # strings can be added

'This is a string'

In [59]:
'This is a string'[0] # a string can be treated like a list of characters

'T'

In [60]:
len('This is a string')

16

.format can be used to format strings, like this:

In [61]:
"{} can be {}".format('Strings', 'interpolated')

'Strings can be interpolated'

You can repeat the formatting arguments to save some typing

In [62]:
"{0} be nimble, {0} be quick, {0} jump over the {1}".format("Jack", "candle stick")

'Jack be nimble, Jack be quick, Jack jump over the candle stick'

In [63]:
"{name} wants to eat {food}".format(name="Bob", food="lasagna")

'Bob wants to eat lasagna'

In [64]:
a = ['miami', 'denver', 'san diego']
b = ['florida', 'colorado', 'california']
for i in range (3):
  print("{0} is a city in {1}".format(a[i], b[i]))

miami is a city in florida
denver is a city in colorado
san diego is a city in california

In [65]:
a = ['miami', 'denver', 'san diego']
b = ['florida', 'colorado', 'california']
for i in range (3):
  print("{city} is a city in {state}".format(city = a[i], state = b[i]))

miami is a city in florida
denver is a city in colorado
san diego is a city in california

## None



*   None is an object
*   Do not use the **'=='** to compare objects to **None**
*   Use **'is'** instead. This checks for equality of object identity

In [69]:
'None' is None

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\Payman\AppData\Local\Temp\ipykernel_25504\4055867433.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  'None' is None

False

In [70]:
None is None

True

In [78]:
var = None
var is None

True

## User input

In [81]:
input_string_var = input("Enter some data: ") # Returns the data as a string

Enter some data: Bye!

In [82]:
print(input_string_var)

Bye!

## Collections

## Mutable vs Immutable
Mutable objects in Python can be modified after they are created, while immutable objects cannot be changed once created.

### Lists
A list in Python is an ordered collection of elements.

In [157]:
li = list() # empty list
li

[]

In [158]:
type(li)

list

In [167]:
other_li = [6, 7., 'Hello', True, 'add']
other_li

[6, 7.0, 'Hello', True, 'add']

In [162]:
type(other_li)

list

In [168]:
len(other_li)

5

In [170]:
other_li.append('New_item')  # add elements at the end of the list
other_li

[6, 7.0, 'Hello', True, 'add', 1, 'New_item']

In [171]:
li

[]

In [172]:
li.append(1)  # add elements at the end of the list
li            # li is now [1]

[1]

In [188]:
li.append(2)  
li            # li is now [1, 2]

[1, 2]

In [189]:
li.append(3)  
li            # li is now [1, 2, 3]

[1, 2, 3]

In [190]:
li.append(4)  
li            # li is now [1, 2, 3, 4]

[1, 2, 3, 4]

In [176]:
print(li.pop())   # Remove from the end with pop
li

4

[1, 2, 3]

In [178]:
# list index
print(li[0])
print(li[1])
print(li[2])

1
2
3

In [186]:
print(li.pop(1))   # Remove an element from differents positions
print(li)

IndexError: pop index out of range

In [193]:
li

[1, 'Second', 3, 4]

In [192]:
li[1] = 'Second'

In [201]:
li = [1, 2, 3, 4, 5]
li[1:4] # You can look at ranges with slice syntax

[2, 3, 4]

In [202]:
li[2:]  # Omit the end

[3, 4, 5]

In [208]:
li[:4]  # Omit the beginning

[1, 2, 3, 4]

In [209]:
li[::-1] # Return a reversed copy of the list

[5, 4, 3, 2, 1]

In [210]:
del li[2]  # Remove arbitrary elements from a list with "del"
li

[1, 2, 4, 5]

In [213]:
li.append(2)
li

[1, 4, 5, 2, 2]

In [215]:
li.remove(2)  # Remove first occurrence of a value
li

[1, 4, 5]

In [216]:
li.remove(2)  # Raises a ValueError as 2 is not in the list
li

ValueError: list.remove(x): x not in list

In [221]:
li

[1, 4, 5]

In [223]:
li.insert(1, 'hello') # Insert an element at a specific index
li

[1, 'hello', 2, 4, 5]

In [226]:
li.index('h') # Get the index of the first item found matching the argument

ValueError: 'h' is not in list

In [231]:
li

[1, 'hello', 2, 4, 5]

In [232]:
other_li

[6, 7.0, 'Hello', True, 'add', 1, 'New_item']

In [230]:
li + other_li # You can add lists

[1, 'hello', 2, 4, 5, 6, 7.0, 'Hello', True, 'add', 1, 'New_item']

In [233]:
li.extend(other_li)  # Concatenate lists with "extend()"
li

[1, 'hello', 2, 4, 5, 6, 7.0, 'Hello', True, 'add', 1, 'New_item']

In [234]:
len(li) # Examine the length with "len()"

12

### Tuples

A tuple in Python is an immutable ordered collection of elements.

In [243]:
tup = (1, 2, 3)
tup

(1, 'hello', 3.0)

You can do most of the list operations on tuples too

In [238]:
len(tup)

3

In [239]:
tup + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [240]:
tup[:2]

(1, 2)

In [241]:
2 in tup

True

You can unpack tuples (or lists) into variables

In [244]:
a, b, c = (1, 2, 3)
print('a =', a, ';',
      'b =', b, ';',
      'c =', c)

a = 1 ; b = 2 ; c = 3

You can also do extended unpacking

In [252]:
a, *b, c, d, e = (1, 2, 3, 4)
print('a =', a, ';',
      'b =', b, ';',
      'c =', c, ';',
    'd =', d, ';',
     'e =', e, ';',)

a = 1 ; b = [] ; c = 2 ; d = 3 ; e = 4 ;

Tuples are created by default if you leave out the parentheses

In [254]:
d, e, f = 4, 5, 6
print('d =', d, ';',
      'e =', e, ';',
      'f =', f)

d = 4 ; e = 5 ; f = 6

In [255]:
e, d = d, e # Now look how easy it is to swap two values
print('d =', d, ';',
      'e =', e)

d = 5 ; e = 4

### Dictionaries
A dictionary in Python is an unordered collection of key-value pairs.

In [258]:
empty_dict = {}

dict

In [259]:
filled_dict = {'one': 1, 'two': 2, 'three': 3} # Here is a prefilled dictionary

Note keys for dictionaries have to be **immutable types**. This is to ensure that the key can be converted to a constant hash value for quick look-ups. Immutable types include ints, floats, strings, tuples.

In [261]:
invalid_dict = {[1,2,3]: '123'}  # Raises a TypeError: unhashable type: 'list'

TypeError: unhashable type: 'list'

In [262]:
valid_dict = {(1,2,3): [1,2,3]}   # Values can be of any type, though

In [273]:
filled_dict = {'one': 1, 'two': 2, 'three': 3} # Here is a prefilled dictionary

In [276]:
filled_dict

{'one': 1, 'two': 2, 'three': 3, 'four': 'hello!?'}

In [275]:
filled_dict['four'] = 'hello!?'

Look up values with [ ]

In [277]:
filled_dict['four']

'hello!?'

Get all keys as an iterable with "keys( )". We need to wrap the call in list( )to turn it into a list. We'll talk about those later. **Note:** dictionary key ordering is not guaranteed. Your results might not match this exactly

In [278]:
list(filled_dict.keys())

['one', 'two', 'three', 'four']

Get all values as an iterable with "values( )". Once again we need to wrap it in list( ) to get it out of the iterable. **Note:** same as above regarding key ordering.

In [279]:
list(filled_dict.values())

[1, 2, 3, 'hello!?']

In [280]:
list(filled_dict.items())

[('one', 1), ('two', 2), ('three', 3), ('four', 'hello!?')]

Check for existence of keys in a dictionary with **'in'**

In [284]:
"one" in filled_dict

True

In [283]:
1 in filled_dict.values()

True

In [285]:
filled_dict

{'one': 1, 'two': 2, 'three': 3, 'four': 'hello!?'}

In [287]:
filled_dict.update({'five': 4}) # Adding to a dictionary filled_dict[key] = value
filled_dict

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 4}

In [288]:
filled_dict['five'] = 5  # Another way to add to dict
filled_dict

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [289]:
del filled_dict["one"]  # Removes the key "one" from filled dict
filled_dict

{'two': 2, 'three': 3, 'four': 4, 'five': 5}

### Sets
A set in Python is an unordered collection of unique elements.

In [291]:
empty_set = set()

In [292]:
some_set = {1, 1, 2, 2, 3, 4}  # Initialize a set with a bunch of values
some_set

{1, 2, 3, 4}

Similar to keys of a dictionary, elements of a set have to be immutable

In [293]:
invalid_set = {[1], 1}  # Raises a TypeError: unhashable type: 'list'

TypeError: unhashable type: 'list'

In [294]:
valid_set = {(1,), 1}

In [297]:
filled_set = some_set
filled_set.add(5) # Add one more item to the set
filled_set

{1, 2, 3, 4, 5}

In [301]:
filled_set.add(2) # Add one more item to the set
filled_set

{1, 2, 3, 4, 5, 6}

Set intersection (**&**)

In [302]:
filled_set

{1, 2, 3, 4, 5, 6}

In [305]:
other_set = {3, 4, 7}
filled_set & other_set

{3, 4}

In [306]:
filled_set.intersection(other_set)

{3, 4}

Set union (**|**)

In [307]:
filled_set | other_set

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
filled_set.union(other_set)

Set difference (**-**)

In [308]:
filled_set - other_set

{1, 2, 5, 6}

In [309]:
filled_set.difference(other_set)

{1, 2, 5, 6}

Other operators

In [311]:
{1, 2} >= {1, 2, 3} # Check if set on the left is a superset of set on the right

False

In [314]:
{1, 2} <= {1, 2, 3} # Check if set on the left is a subset of set on the right

True

In [317]:
7 in filled_set   # Check for existence in a set with in

False

In [316]:
filled_set

{1, 2, 3, 4, 5, 6}