### **Question 1:**
Use the data given and create a Pandas DataFrame called mpg_df from a python dictionary. This dataframe **should not** define any row labels.

In [32]:
import pandas as pd

In [34]:
my_dict = {"mpg":[18,15,18,16,17,15,14,14,14,15],
           "cylinders":[8,8,8,8,8,8,8,8,8,8],
           "displacement":[307,350,318,304,302,429,454,440,455,390],
           "horsepower":[130,165,150,150,140,198,220,215,225,190],
           "weight":[3504,3693,3436,3433,3449,4341,4354,4312,4425,3850],
           "acceleration":[12,11.5,11,12,10.5,10,9,8.5,10,8.5],
           "model":[70,70,70,70,70,70,70,70,70,70],
           "origin":[1,1,1,1,1,1,1,1,1,1],
           "car":["chevrolet chevelle malibu" ,"buick skylark 320" ,"plymouth satellite"  ,"amc rebel sst" ,"ford torino"  ,"ford galaxie 500" ,"chevrolet impala"  ,"plymouth fury iii" ,"pontiac catalina"  ,"amc ambassador dpl" ]}

mpg_df = pd.DataFrame(my_dict)

mpg_df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15,8,350,165,3693,11.5,70,1,buick skylark 320
2,18,8,318,150,3436,11.0,70,1,plymouth satellite
3,16,8,304,150,3433,12.0,70,1,amc rebel sst
4,17,8,302,140,3449,10.5,70,1,ford torino

### **Question 2:**
Report the row indices in mpg_df.

In [36]:
list(mpg_df.index)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### **Question 3:** 
 

1.   Alter the row indices externally in mpg_df to the ones given in variable l1.
2.   Report the row indices.

In [37]:
l1 = ['car 1', 'car 2', 'car 3', 'car 4', 'car 5', 'car 6', 'car 7', 'car 8', 'car 9', 'car 10']
pd.DataFrame(my_dict, index = l1 )

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
car 1,18,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
car 2,15,8,350,165,3693,11.5,70,1,buick skylark 320
car 3,18,8,318,150,3436,11.0,70,1,plymouth satellite
car 4,16,8,304,150,3433,12.0,70,1,amc rebel sst
car 5,17,8,302,140,3449,10.5,70,1,ford torino
car 6,15,8,429,198,4341,10.0,70,1,ford galaxie 500
car 7,14,8,454,220,4354,9.0,70,1,chevrolet impala
car 8,14,8,440,215,4312,8.5,70,1,plymouth fury iii
car 9,14,8,455,225,4425,10.0,70,1,pontiac catalina
car 10,15,8,390,190,3850,8.5,70,1,amc ambassador dpl

In [38]:
l1 = ['car 1', 'car 2', 'car 3', 'car 4', 'car 5', 'car 6', 'car 7', 'car 8', 'car 9', 'car 10']
mpg_df.index = l1
mpg_df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
car 1,18,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
car 2,15,8,350,165,3693,11.5,70,1,buick skylark 320
car 3,18,8,318,150,3436,11.0,70,1,plymouth satellite
car 4,16,8,304,150,3433,12.0,70,1,amc rebel sst
car 5,17,8,302,140,3449,10.5,70,1,ford torino

In [39]:
list(mpg_df.index)

['car 1',
 'car 2',
 'car 3',
 'car 4',
 'car 5',
 'car 6',
 'car 7',
 'car 8',
 'car 9',
 'car 10']

### **Question 4:** 
Re-arrange columns in alphabetical order.

In [40]:
list(mpg_df.columns)

['mpg',
 'cylinders',
 'displacement',
 'horsepower',
 'weight',
 'acceleration',
 'model',
 'origin',
 'car']

In [41]:
sorted(mpg_df.columns)

['acceleration',
 'car',
 'cylinders',
 'displacement',
 'horsepower',
 'model',
 'mpg',
 'origin',
 'weight']

In [42]:
mpg_df[sorted(mpg_df.columns)]

,acceleration,car,cylinders,displacement,horsepower,model,mpg,origin,weight
car 1,12.0,chevrolet chevelle malibu,8,307,130,70,18,1,3504
car 2,11.5,buick skylark 320,8,350,165,70,15,1,3693
car 3,11.0,plymouth satellite,8,318,150,70,18,1,3436
car 4,12.0,amc rebel sst,8,304,150,70,16,1,3433
car 5,10.5,ford torino,8,302,140,70,17,1,3449
car 6,10.0,ford galaxie 500,8,429,198,70,15,1,4341
car 7,9.0,chevrolet impala,8,454,220,70,14,1,4354
car 8,8.5,plymouth fury iii,8,440,215,70,14,1,4312
car 9,10.0,pontiac catalina,8,455,225,70,14,1,4425
car 10,8.5,amc ambassador dpl,8,390,190,70,15,1,3850

In [ ]:
mpg_df = mpg_df[sorted(mpg_df.columns)]

In [ ]:
ChatGPT

In [43]:
mpg_df.sort_index(axis=1)

,acceleration,car,cylinders,displacement,horsepower,model,mpg,origin,weight
car 1,12.0,chevrolet chevelle malibu,8,307,130,70,18,1,3504
car 2,11.5,buick skylark 320,8,350,165,70,15,1,3693
car 3,11.0,plymouth satellite,8,318,150,70,18,1,3436
car 4,12.0,amc rebel sst,8,304,150,70,16,1,3433
car 5,10.5,ford torino,8,302,140,70,17,1,3449
car 6,10.0,ford galaxie 500,8,429,198,70,15,1,4341
car 7,9.0,chevrolet impala,8,454,220,70,14,1,4354
car 8,8.5,plymouth fury iii,8,440,215,70,14,1,4312
car 9,10.0,pontiac catalina,8,455,225,70,14,1,4425
car 10,8.5,amc ambassador dpl,8,390,190,70,15,1,3850

### **Question 5:**
Create a new dataframe for the first car in mpg_df and report it.

In [44]:
new_df = mpg_df.iloc[[0]]
new_df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
car 1,18,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu

In [46]:
new_df = mpg_df.loc[['car 1'],:]
new_df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
car 1,18,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu

### **Question 6:**
Which car has the most horsepower?

In [47]:
mpg_df['horsepower'].max()

225

In [48]:
max_horsepower = mpg_df['horsepower'].max()

In [51]:
mpg_df.loc[mpg_df['horsepower']==max_horsepower,'car']

car 9    pontiac catalina
Name: car, dtype: object

In [52]:
mpg_df['horsepower'].idxmax()

'car 9'

In [54]:
idx_label = mpg_df['horsepower'].idxmax()
mpg_df.loc[idx_label,'car']

'pontiac catalina'

In [55]:
mpg_df.loc[idx_label]['car']

'pontiac catalina'

### **Question 7:**
Report the average car weight

In [56]:
mpg_df['weight']

car 1     3504
car 2     3693
car 3     3436
car 4     3433
car 5     3449
car 6     4341
car 7     4354
car 8     4312
car 9     4425
car 10    3850
Name: weight, dtype: int64

In [57]:
mpg_df['weight'].mean()

3879.7

In [59]:
import numpy as np
np.mean(mpg_df['weight'])

3879.7